/*Google fonts*/
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Banner Styles*/
.banner{
    background-image: url(../assets/Hero-bg.png);
    
}
.banner-content{
    text-align: center;
    margin-top: 50px;
}

.banner-title{
    font-size: 48px;
    font-weight: 900;
    color: #0D1321;
}

.banner-description{
    font-size: 20px;
    color: #0D1321;
}

.btn-primary{
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background-color: #0D1321;
    border-radius: 8px;
    margin-bottom: 45px;
}

.main{
    max-width: 1140px;
    margin: 0 auto;
}

/*Skills styles*/
.section-title{
    font-size: 32px;
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.skills-container{
    display: flex;
    gap: 150px;
    background-color: #ffffff;
    padding: 48px;
    margin-bottom: 32px;
    border-radius: 16px;
}

.skills{
    margin-top: 50px;
    border-radius: 10px;
    padding: 50px 150px;
}

.skill-title{
    font-size: 24px;
    font-weight: bold;
    color: #555963;
}

.skill-description{
    font-size: 16px;
}

.learn-btn{
    padding: 12px 20px;
    font-size: 20px;
    color: #555963;
    font-weight: 600;
    background-color: #ffffff;
    margin-top: 32px;
    cursor: pointer;
}

.background{
    background-color: #FAFAFB;
}

.inspiration-section{
    margin-top: 50px;
}
.inspiration-video{
    text-align: center;
    margin-top: 50px;
}
iframe{
    border-radius: 16px;
}

.target-container{
    display: flex;
    justify-content: space-around;
}

/*Technology section styles*/

.technologies{
    padding: 40px;
    border-radius: 10px;
    margin-right: 20px;
}

.bg-1{
    background-color: #FFF6F3;
}
.bg-2{
    background-color: #F2F6FE;
}
.bg-3{
    background-color: #FFFDF2;
}
.tech-title{
    font-size: 24px;
    font-weight: 900;
}

.tech-description{
    font-size: 18px;
}

.learn-more{
    font-size: 16px;
    font-weight: bold;
    color: #555963;
}

/*Footer Styles*/
.footer-bg{
    max-width: 1140px;
    margin: 0 auto;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 64px 48px;
    margin-top: 40px;
    border-radius: 16px;
}
.footer-content{
    text-align: center;
}
footer input[type = "text"]{
    height: 20px;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
}

.btn-submit{
    background-color: #ffffff;
    color: #0D1321;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 7px;
    margin-left: 10px;
}

.text-color{
    color: #ffffff;
}

.footer-column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F7F8F8;
    margin-top: 50px;
}

h5{
    font-size: 24px;
    font-weight: bold;

}